@model BackendSite.Service.Model.AdminUser
@using Microsoft.AspNetCore.Hosting
@using BackendSite.Service.BLL
@using BackendSite.Service.Model
@inject IWebHostEnvironment environment
@inject SelLangBLL selLangBLL
@inject ServerInfoBLL serverInfoBLL
@inject AuthorizeBLL authorizeBLL
@{
    Layout = null;
    ViewData["Title"] = @selLangBLL.GetResourceValue("lbl_EditAccount");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackendSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@selLangBLL.GetResourceValue("lbl_EditAccount")</h1>
    <hr />
    <div class="container-fluid">
        <form id="EditAccount" method="post" class="form-horizontal">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@selLangBLL.GetResourceValue("lbl_UserName")</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="UserName" value="@Model.UserName" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@selLangBLL.GetResourceValue("lbl_Userpwd")</label>
                <div class="col-sm-10">
                    <button type="button" id="Userpwd" name="Userpwd" class="btn btn-warning">@selLangBLL.GetResourceValue("lbl_ChangeUserpwd")</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@selLangBLL.GetResourceValue("lbl_Role")</label>
                <div class="col-sm-10">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" id="Role[]" name="Role" class="form-check-input" value="Admin" checked="@(Model.Role.IndexOf("Admin")>0)">@selLangBLL.GetResourceValue("lbl_Admin")
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" id="Role[]" name="Role" class="form-check-input" value="CSD" checked="@(Model.Role.IndexOf("CSD")>0)">@selLangBLL.GetResourceValue("lbl_CSD")
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" id="Role[]" name="Role" class="form-check-input" value="Finance" checked="@(Model.Role.IndexOf("Finance")>0)">@selLangBLL.GetResourceValue("lbl_Finance")
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@selLangBLL.GetResourceValue("lbl_Status")</label>
                <div class="col-sm-10">
                    <select id="Status" name="Status" class="custom-select">
                        <option value="1" selected="@(Model.Status == 1 ? "selected" : null)">Active</option>
                        <option value="0" selected="@(Model.Status == 0 ? "selected" : null)">Deactive</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">@selLangBLL.GetResourceValue("lbl_Edit")</button>
                </div>
            </div>
        </form>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/axios.min.js"></script>
    @if (environment.EnvironmentName == "Development")
    {
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    }
    else
    {

    }

    <script type="text/javascript">
        $(function () {
            $("#EditAccount").submit(function (event) {
                event.preventDefault();
                var role = $('input:checkbox:checked[name="Role"]').map(function () { return $(this).val(); }).get();
                var data = { "UserId": @Model.UserId, "UserName": $("#UserName").val(), "Role": JSON.stringify(role) , "Status": parseInt($("#Status").val())};
                axios.post('/api/Admin/EditAccount', data)
                    .then(function (response) {
                        var result = response.data;
                        if (result.errorCode == 0) {
                            alert(result.message);
                            location.reload();
                        } else {
                            alert(result.message);
                        }
                    }).catch(function (error) {
                        alert(error);
                    });
            });

            $('#Userpwd').click(function () {
                if (confirm("@selLangBLL.GetResourceValue("lbl_ChangeUserPwdAlert")")) {
                    var data = { "UserId": @Model.UserId};
                    axios.post('/api/Admin/ChangePwdAccount', data)
                        .then(function (response) {
                            var result = response.data;
                            if (result.errorCode == 0) {
                                alert(result.message);
                                location.reload();
                            } else {
                                alert(result.message);
                            }
                        }).catch(function (error) {
                            alert(error);
                        });
                }
            });
        });
    </script>
</body>
</html>