@using Microsoft.AspNetCore.Hosting
@using BackendSite.Service.BLL
@using BackendSite.Service.Model
@inject IWebHostEnvironment environment
@inject SelLangBLL selLangBLL
@inject ServerInfoBLL serverInfoBLL
@inject AuthorizeBLL authorizeBLL
@{
    ViewData["Title"] = "Home Page";
    Layout = null;

    var menuList = authorizeBLL.GetMenuData();

}
@functions {
    private void MenuComponent(MenuItem menuItem)
    {
        if (menuItem.Childs != null && menuItem.Childs.Count() > 0)
        {
            <li>
                @if (menuItem.Controller != null && menuItem.Action != null)
                {
                    <a href="@Url.RouteUrl("default", new { action = menuItem.Action, controller = menuItem.Controller })" target="main">@(selLangBLL.GetResourceValue(menuItem.Key) ?? menuItem.Title)</a>
                }
                else
                {
                    <a href="javascript:void(0)"><i class="@menuItem.Icon"></i><span>@(selLangBLL.GetResourceValue(menuItem.Key) ?? menuItem.Title)</span></a>
                }
                <ul class="collapse">
                    @foreach (var menuItem1 in menuItem.Childs)
                    {
                        MenuComponent(menuItem1);
                    }
                </ul>
            </li>


        }
        else
        {
            <li>
                <a href="@Url.RouteUrl("default", new { action = menuItem.Action, controller = menuItem.Controller })" target="main">@(selLangBLL.GetResourceValue(menuItem.Key) ?? menuItem.Title)</a>
            </li>
        }
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Admin
    </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.7.95/css/materialdesignicons.min.css" />
    @*<link href="~/css/Star/css.css" rel="stylesheet" />*@
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="#"><img src="~/images/logo.png" alt="logo" /></a>
                </div>
            </div>
            <div class="main-menu">
                <nav>
                    <ul class="metismenu" id="menu">
                        @foreach (var menuItem in authorizeBLL.GetMenuData())
                        {
                            MenuComponent(menuItem);
                        }
                    </ul>
                </nav>
            </div>
        </div>

        <div class="main-content">
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="index.html">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <i class="icon-account"></i>
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <i class="icon-chevron-down"></i></h4>
                            <div class="dropdown-menu">
                                <a href="javascript:void(0);" class="dropdown-item coloryellow changepsd" data-toggle="modal" data-target="#exampleModal">@selLangBLL.GetResourceValue("lbl_ChangePwd")</a>
                                <a class="dropdown-item loginout" href="javascript:void(0);" title="Logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content-inner">
                <iframe allowtransparency="true" src="" frameborder="0" scrolling="auto" id="iframe" class="iframe" name="main">
                </iframe>
            </div>
        </div>
    </div>

    <!---修改密码弹框--->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@selLangBLL.GetResourceValue("lbl_ChangePwd")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="updateUserPwd" method="post">
                    <div class="modal-body">
                        <div class="dialog-gonggao-body">
                            <div class="inputgroup">
                                <span class="inputgroupkey">@selLangBLL.GetResourceValue("lbl_CurrentPwd")</span><input type="password" id="oldPwd" autocomplete="off" />
                            </div>
                            <div class="inputgroup">
                                <span class="inputgroupkey">@selLangBLL.GetResourceValue("lbl_NewPwd")</span><input type="password" id="newPwd" autocomplete="off" />
                            </div>
                            <div class="inputgroup">
                                <span class="inputgroupkey">@selLangBLL.GetResourceValue("lbl_ConfirmPwd")</span><input type="password" id="confirmPwd" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="button button-default" value="@selLangBLL.GetResourceValue("lbl_Cancel")" data-dismiss="modal" />
                        <input type="submit" class="button button-yellow" value="@selLangBLL.GetResourceValue("lbl_Confirm")" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/metisMenu.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.menubox h2').on('click', function () {
                $(this).siblings('ul').slideToggle(300, function () {
                    if ($(this).css('display') === 'block') {
                        $(this).parent('.menubox').addClass('on')
                    } else {
                        $(this).parent('.menubox').removeClass('on')
                    }
                });
            });

            $('.loginout').on('click', function () {
                axios.post('/api/Home/Signout')
                    .then(function (response) {
                        let result = response.data;
                        if (result.errorCode == 0) {
                            window.location.replace(result.message);
                        } else {
                            alert(result.message);
                        }
                    }).catch(function (error) {
                        alert(error);
                    });
            });

            $('#updateUserPwd').submit(function (event) {
                if ($("#newPwd").val() != $("#confirmPwd").val()) {
                    alert("@selLangBLL.GetMsg("msg_ConfirmpwdNotMatch")");
                }
                else  if ($("#newPwd").val() != $("#newPwd").val()) {
                    alert("@selLangBLL.GetMsg("msg_Updatesuccessful")");
                }
                else {
                    event.preventDefault();
                    var data = { "oldPwd": $("#oldPwd").val(), "newPwd": $("#newPwd").val() };
                    axios.post('/api/Admin/ChangePwd', data)
                        .then(function (response) {
                            let result = response.data;
                            if (result.errorCode == 0) {
                                alert(result.message);
                            } else {
                                alert(result.message);
                            }
                        }).catch(function (error) {
                            alert(error);
                        });
                }
            });

            $("#menu").metisMenu();
        });
    </script>
</body>
</html>

