
@using Microsoft.AspNetCore.Hosting
@using BackendSite.Service.BLL
@using BackendSite.Service.Model
@inject IWebHostEnvironment environment
@inject SelLangBLL selLangBLL
@inject ServerInfoBLL serverInfoBLL
@inject AuthorizeBLL authorizeBLL
@{
    Layout = null;
    ViewData["Title"] = @selLangBLL.GetResourceValue("lbl_WithdrawalApproval");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackendSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@selLangBLL.GetResourceValue("lbl_WithdrawalApproval")</h1>
    <hr />
    <div class="container-fluid">
        <table class="table table-striped">
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_WithdrawalId")</th>
                <td>@Model.WithdrawalId</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_UserName")</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_TransId")</th>
                <td>@Model.TransId</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_WithdrawalType")</th>
                <td>@Model.WithdrawalType</td>
            </tr>
            <tr>
                <th scope="row">WithdrawalInfo</th>
                <td>@Model.WithdrawalInfo</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_Amount")</th>
                <td>@Model.Amount</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_ChargeFee")</th>
                <td>@Model.ChargeFee</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_Memo")</th>
                <td>@Model.Memo</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_CreateTime")</th>
                <td>@Model.CreateTime</td>
            </tr>
            <tr>
                <th scope="row">@selLangBLL.GetResourceValue("lbl_Status")</th>
                <td>@Model.Status</td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@selLangBLL.GetResourceValue("lbl_No")</th>
                    <th scope="col">@selLangBLL.GetResourceValue("lbl_CreateTime")</th>
                    <th scope="col">@selLangBLL.GetResourceValue("lbl_ActualDeposit")</th>
                    <th scope="col">@selLangBLL.GetResourceValue("lbl_Comment")</th>
                    <th scope="col">@selLangBLL.GetResourceValue("lbl_Action")</th>
                </tr>
            </thead>
            @{var i = 1; }
            <tbody>
                @foreach (var item in @Model.Comments)
                {
                    <tr>
                        <td scope="row">@(i++)</td>
                        <td>@item.CreateTime</td>
                        <td>@item.ActualDeposit</td>
                        <td>@item.Comment</td>
                        <td>@item.ActionString</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="container form-group">
            <label for="command">@selLangBLL.GetResourceValue("lbl_Comment")</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>

        @{ if (@Model.Status == 0 || @Model.Status == 1)
            {
                <input type='button' class="btn btn-primary" onclick='UpdateStatus(1)' value='@selLangBLL.GetResourceValue("lbl_Approve")'>
                <input type='button' class="btn btn-primary" onclick='UpdateStatus(2)' value='@selLangBLL.GetResourceValue("lbl_Reject")'>
            }
            <input type='button' class="btn btn-primary" onclick='UpdateStatus(3)' value='@selLangBLL.GetResourceValue("lbl_Comment")'>
        }
    </div>



    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/axios.min.js"></script>
    <script type="text/javascript">
    function UpdateStatus(Status) {
        let data = { "TransId": "@Model.TransId", "Action": Status, "Comment": $("#comment").val() };
        axios.post('/Withdrawal/WithdrawalConfirm', data)
            .then(function (response) {
                let result = response.data;
                if (result.errorCode == 0) {
                    alert(result.message);
                    location.reload();
                } else {
                    alert(result.message);
                }
            }).catch(function (error) {
                alert(error);
            });
      }
    </script>
    @if (environment.EnvironmentName == "Development")
    {
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    }
    else
    {

    }
</body>
</html>